<div class="row">
  <center>
    <!-- Left side (ready to eat) -->
    <div class="col-md-6">
      <h3>Ready to eat!</h3>
      <div id="ready_to_eat">

        <!-- Dynamically Insert Ready Burgers Here -->
        {{#each burgers}}
          {{#unless devoured}}
          <form action="burger/eat/{{id}}" method="POST">
            <div class="input-group">
              <li class="form-control">{{id}}. {{burger_name}}</li>
                <span class="input-group-btn">
                  <audio id="sound1" src="/assets/sounds/Frying_Food-J_Bravo-1591470421.mp3" preload="auto"></audio>
                  <button class="btn btn-success devour-button" type="submit" onclick="document.getElementById('sound1').play();">Devour It!</button>
                </span>
            </div>
          </form>
          {{/unless}}
        {{/each}}

      </div>
    </div>

    <!-- Right side (already eaten) -->
    <div class="col-md-6">
      <h3>Already eaten!</h3>
      <div id="already_eaten">

        <!-- Dynamically Insert Eaten Burgers Here -->
        {{#each burgers}}
          {{#if this.devoured}}
            <div class="input-group">
              <li class="form-control">{{this.id}}. {{this.burger_name}}</li>
              <span class="input-group-btn">
                <button class="btn btn-info aww-button" type="button">Aww Shucks!</button>
              </span>
            </div>
          {{/if}}
        {{/each}}

      </div>
    </div>
  </center>
</div>